<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register :</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
   
    <div class="container">
        <h1>Register Here</h1>
        <form name="registerform" action="/register" method="POST">
            <div class="form-control">
                <input type="text" required name="name" id="">
                <label for="">Name</label>
            </div>
            <div class="form-control">
                <input type="text" required name="username" id="">
                <label for="">Username</label>
            </div>
            <div class="form-control">
                <input type="text" required name="email" id="">
                <label for="">Email</label>
            </div>
            <div class="form-control">
                <input type="password" required name="password" id="">
                <label for="">Password</label>
            </div>
            <input class="btn" id="register-form-submit" type="submit" value="Register">
            <p style="color: red;" id="msg">{{ msg }}</p>
            <p class="text">Already have an accout? <a href="/home">Log In</a></p>
        </form>
    </div>
    
    <script src="/static/javascript/register.js"></script>
</body>
</html>